:root {

}

.experience-entry {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-company-row,
.from-to-date-row {
    display: flex;
    gap: 0.5rem;
}

.title-company-row > div,
.from-to-date-row > div {
    flex-grow: 1;
}

.title-company-row input,
.from-to-date-row input {
    width: 100%;
}

.title-company-row select,
.from-to-date-row select {
    flex-grow: 1;
}

.description-row textarea {
    width: 100%;
}
